            body {
                font-family: 'Times New Roman', Times, serif, sans-serif;
                background: linear-gradient(to right, #128ada, #6e40b9);
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
                margin: 0;
            }
            
            .login-container {
                background-color: white;
                padding: 24px;
                border-radius: 8px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            }
            
            input {
                width: 100%;
                padding: 10px;
                margin: 10px 0;
                border: 1px solid #ccc;
                border-radius: 4px;
            }
            
            button {
                background-color: hsl(192, 94%, 49%);
                color: rgba(7, 20, 20, 0.945);
                padding: 10px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                width: 100%;
            }